<!DOCTYPE html>
<html>
<head>
    <title>Kayıt Formu</title>
</head>
<body>
    <h1>Kayıt Formu</h1>
    <form action="/submit" method="post">
        <label for="kaynakID">Kaynak ID:</label>
        <input type="text" name="kaynakID" required><br>
        <label for="kaynakAdi">Kaynak Adı:</label>
        <input type="text" name="kaynakAdi" required><br>
        <label for="kaynakDetay">Kaynak Detay:</label>
        <input type="text" name="kaynakDetay" required><br>
        <label for="kaynakURL">Kaynak URL:</label>
        <input type="url" name="kaynakURL" required><br>
        <button type="submit">Kaydet</button>
    </form>
    <br>
    <a href="/query_all">Tüm Kayıtları Sorgula</a>
</body>
</html>
