<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kayıt Başarılı</title>
</head>
<body>
    <h1>Kayıt Başarılı!</h1>
    <p>ID: {{ data.kaynakID }}</p>
    <p>Adı: {{ data.kaynakAdi }}</p>
    <p>Detay: {{ data.kaynakDetay }}</p>
    <p>URL: {{ data.kaynakURL }}</p>
    <p>Durum: {{ data.status }}</p>
    <p>Zaman: {{ data.kaynakZamanDamgasi }}</p>
    <a href="/">Yeni Kayıt Ekle</a>
</body>
</html>
